body {
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
    background: #fff !important;
}

.swb-margen {
    padding-right: 2px !important;
    padding-left: 2px !important;
    padding-bottom: 4px !important;
}

.swb-main-content .swb-photos .swb-photo-item .swb-photo-text-more {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 30px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.swb-main-content .swb-photos .swb-photo-item .swb-photo-text-more .icon {
    color: #fff;
    font-size: 20px;
}

.swb-main-content .swb-photos .swb-photo-item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 300px;
    margin-bottom: 5px;
}

.swb-main-content .swb-photos .swb-photo-item {
    position: relative;
}

.main-content .photos .photo-item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 300px;
    margin-bottom: 0px !important;
}